<div class="main-section">
    <div class="left-side" fxflex="20"></div>
    <div>
        <button>
            <a href="http://localhost:4200/">Home</a>
        </button>
    </div>
    <div class="news-section" fxflex="60">
        @if(article) {
            <form [formGroup]="articleForm" (ngSubmit)="onSubmit()" class="article-form">
                <label> Title:
                    <input type="text" formControlName="title" id="title" class="title"/>
                </label>
                <label> Publication Date:
                    <input type="date" formControlName="publicationDate" id="date" class="date"/>
                </label>
                <label> Category:
                    <select formControlName="category" class="category">
                        <option value="POLITICS">Politics</option>
                        <option value="SPORTS">Sports</option>
                        <option value="FINANCE">Finance</option>
                    </select>
                </label>
                <section class="article-content">
                    <input formControlName="imageURL" id="imageURL" class="imageURL" height="30px" width="30px">
                    @if (articleForm.get('imageURL')?.value) {
                        <div>
                            <img [src]="articleForm.get('imageURL')?.value" height="600px" width="600px"/>
                        </div>
                    }
                    <textarea formControlName="content" id="content" class="content"></textarea>
                </section>
                <button type="submit">Update</button>
                <button (click)="deleteArticle()" class="delete-button">Delete</button>
            </form>
        } 
    </div>
    <div class="right-side" fxflex="20"></div>
</div>    

