.main-section {
    display: flex;
    justify-content: space-between;
    padding: 70px;
}

.left-side,
.right-side {
    flex: 1;
}

.news-section {
    flex: 4;
    padding: 20px;
    background-color: #f9f9f9;
}

.article-form {
    margin-bottom: 20px;
}

.article-form label {
    display: block;
    margin-bottom: 10px;
}

.article-form input[type="text"],
.article-form input[type="date"],
.article-form select,
.article-form textarea {
    width: 100%;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.content {
    height: 200px;
}

.article-content {
    margin-bottom: 20px;
}

.imageURL {
    height: 50px;
    width: 100%;
}

.category {
    height: 100px;
    width: 200px;
}

.article-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

button[type="submit"],
button[type="button"],
.update-button,
.delete-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #45a049;
}

