<div class="main-section">
    <div class="left-side" fxflex="20"></div>
    <div class="news-section" fxflex="60">
        @if(article) {
            <button>
                <a href="http://localhost:4200/">Home</a>
            </button>
            <section class="title">
                <h1>{{article.title}}</h1>
            </section>
            <section class="info">
                <p>Publication Date: {{article.publicationDate}}</p>
                <p>Category: {{article.category}}</p>
            </section>
            <section class="article-content">
                <img ngSrc={{article.imageURL}}  height="500" width="500">
                <p>{{article.content}}</p>
            </section>
            <button (click)="deleteArticle()">Delete Article</button>
        } 
    </div>
    <div class="right-side" fxflex="20"></div>
</div>
