<mat-toolbar>
    <div class="nav-container">
        <div class="nav-section-logo">
            <a href="http://localhost:4200/articles">
                <img src="../../assets/newswire.png" alt="Home page logo sender">
            </a>
        </div>
        <div class="nav-section-links">
            <a href="http://localhost:4200/articles/category/politics">Politics</a>
            <a href="http://localhost:4200/articles/category/sports">Sports</a>
            <a href="http://localhost:4200/articles/category/finance">Finance</a>
        </div>
    </div>    
</mat-toolbar>
