@if (article) {
    <a [routerLink]="'/articles/' + article.id" class="article-link">
        <mat-card class="article-card">
            <mat-card-header>
                <mat-card-title>
                    {{ article.title }}
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image ngSrc="{{ article.imageURL }}" height="300" width="400"/>
            <mat-card-content>
                <p>
                    {{ article.category }}<br>
                    {{ article.publicationDate }}
                </p>
            </mat-card-content>
        </mat-card>
    </a>
}
